.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

ios/Flutter/ephemeral/

# Local IDE / Flutter tool metadata
.idea/
*.iml
.metadata
firebase-debug.log
